.root{

}

*{
    font-family: serif;
    font-size: 18px;
}

header{
    background-color: pink;
    text-align: center;
}

h1{
    margin:20px,auto,20px,auto;
    font-size: 200%;
}

h2{
    font-size: 160%;
}

.nav-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

.nav-list li{
    /* text-decoration: underline 6px pink; */
    display: inline;
    float: left;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 110px;
    text-align: center;
    /* background-color: darkblue; */
}

#profile-pic{
    display:block;
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

/* this is the list for links under project */
.project-pic{
    display:flex;
    /* flex: 1, 0, 500px; */
    justify-content: space-between;
    flex-wrap: wrap;
    padding:10px;
}

.project-pic li{
    display: inline;
    height: 40vh;
    flex-grow: 1;
}

/* picture that links to project */
.project-links{
    height:100%;
    width:100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 6px;
    padding: 20px;
    margin: 12px;
    
}

.project-pic li:first-child{
    width: 100%;
}

