*{
    font-family: Georgia;
    font-size: 20px;
    box-sizing: border-box;

}
/* centering the header */
header{
    background-color: pink;
    text-align: center;
    
}

/* resiving the font */
h1{
    display:block;
    padding:10px;
    font-size: 250%;

}

/* resizing and adding padding */
h2{
    font-size: 180%;
    padding-left:100px;
    padding-bottom:40px;
    margin-top: 20px;
}

/* Styling */
h3{
    text-align: center;
    border: 2px solid white;
    color: Black;
    z-index: 1;
    position: relative;
    top:75px;
    scale: 90%;
    font-size:150%;
    background-color: aliceblue;
}

p{
    padding-left:60px;
    padding-bottom: 40px;

}

/* add a flex box to the unlorder list */
.nav-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

/* makes the list item style */
.nav-list li{
    display: inline;
    float: left;
    border-bottom: 2px solid black;
    margin:auto 10px auto 10px;
    height: 35px;
    width: auto;
    text-align: center;
    font-size: 180%;
}

/* put the profile pic in the center */
#profile-pic{
    display:block;
    height: auto;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/* this is the list for links under project */
.project-pic{
    display:flex;
    flex-wrap: wrap;
    padding:10px;
    width: 75%;
    margin:auto;
    background-color: pink;
}

/* Adds margin to the bottom of the project section */
#programs{
    margin-bottom: 100px;
}

/* addes a height to each box that the pictures are within */
.project-pic li{
    display: inline;
    height: 40vh;
    flex-grow: 1;
}

/* picture that links to project */
.project-links{
    height:100%;
    width:100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 20px;
    margin: 10px;
    
}

/* makes the first picture of the program the largest */
.project-pic li:first-child{
    width: 100%;
    height: 100%;
}

/* adds a color to the footer */
.bottom{
    background-color: pink;
}

/* Highlight the program flexboxes */
.project-links:hover {
    box-shadow: inset 1px 0px 25px 
rgb(111, 142, 207), 0 0 20px
rgb(250, 193, 108);
}

